/* Element Selectors */
body {
    font-family: 'Lobster', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
/* Class Selectors */
.container {
    margin-bottom: 10%;
  }

.description {
    white-space: pre-wrap;
  }
  
/* Future events */
.future {
    background-color: pink;
    color: #565656;
  }

.hour {
    background-color: #f8f3f3;
    color: #565656;
    border-top: 1px dashed #565656;
  }

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
/* Past events */
.past {
    background-color: darkgray;
    color: #565656;
  }

/* Present events */
.present {
    background-color: greenyellow;
    color: #565656;
  }

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #9ddfd3;
    color: white;
  }
  
.saveBtn::before {
    content: "";
    background-image: url("./floppy_save_icon.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; 
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px; 
  }
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }

.time-block{
    text-align: center;
    border-radius: 15px;
  }
